* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #141414;
}
.about-us {
  color: white;
}

header {
  position: fixed;
  color: white;
  background-color: red;
  text-align: center;
  height: 80px;
  width: 100%;
  transition: all 0.3s linear;
}

header h1 {
  line-height: 80px;
  transition: all 0.3s linear;
}
